@mixin Field() {
  display: grid;
  gap: 0.5rem;

  &_label {
    grid-column: 1;
  }

  &_description {
    font-size: $d1 * 1em;
    grid-column: 1;

    > * {
      margin: 0;
    }
  }

  &_input {
    border-color: $gray3;
    border-style: solid;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    box-shadow: 0;
    grid-column: 1;
    padding: 1rem;

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0.3rem $blue;
      outline: none;
    }
  }

  &-invalid {
    &_input {
      border-color: $red;

      &:focus {
        border-color: $red;
        box-shadow: 0 0 0.3rem $red;
      }
    }
  }
}
