@mixin Field() {
  display: grid;
  gap: 0.5rem;

  &_label {
    grid-area: 1 1;
  }

  &_description {
    font-size: $d1 * 1em;
    grid-area: 1 2;

    > * {
      margin: 0;
    }
  }

  &_input {
    border: 0.2rem solid $gray3;
    border-radius: 0.4rem;
    grid-area: 1 -1;
    padding: 1rem;
  }

  &-invalid {
    &_input {
      border-color: $red;
    }
  }
}
