@mixin Form {
  display: grid;
  gap: 1.5rem;
  grid-template:
    "username"
    "password"
    "submit  ";

  &_username {
    grid-area: username;
  }

  &_password {
    grid-area: password;
  }

  &_submit {
    justify-self: end;
    grid-area: submit;
  }
}
