@mixin Form {
  display: grid;
  gap: 1.5rem;

  &_message {
    grid-column: 1;
  }

  &_username {
    grid-column: 1;
  }

  &_password {
    grid-column: 1;
  }

  &_submit {
    justify-self: end;
    grid-column: 1;
  }
}
