h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 1em;
  text-align: center;
}

h1 {
  font-size: $u4 * 1em;
}

h2 {
  font-size: $u3 * 1em;
}

h3 {
  font-size: $u2 * 1em;
}

h4 {
  font-size: $u1 * 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: $d1 * 1em;
}