.Tab {
  background-color: $white;
  border-color: $gray3;
  border-style: solid;
  border-width: 0 0 0.2rem;
  flex: 1 0 auto;
  font-size: $d1 * 1em;
  padding: 1rem;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &-active {
    background-color: $grayE;
    border-radius: 0.4rem 0.4rem 0 0;
    border-width: 0.2rem 0.2rem 0;
  }
}
